* {
	box-sizing: border-box;
}
body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	background-color: #849d8f;
	font-family: 'Roboto',"Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	position: relative;
	width: 1146px;
	margin: 0px auto;
}
.header-logo {
	float: left;
	margin-right: 15px;
}
.main-header {
	position: relative;
	padding-top: 10px;
}
.main-nav {
	float: left;
	width: 650px;
	margin-top: 13px;
}
.main-menu {
	padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu > li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 5px 14px;
    /* padding-bottom: 0; */
    font-size: 16px;
    line-height: 22px;   
}
.main-menu > li > a {

	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid;
	font-weight: 600;
}
.main-menu > li:hover {
	background-color: #ffffff;
    border-radius: 22px;
}
.main-menu > li:hover > a {
	color: #000000;
	border: none;
}
.main-menu > li:hover .sub-menu {
	display: block;
}
.main-menu > li::after {
	content: "";
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
}
.sub-menu {
	display: none;
	width: 145px;
    font-size: 14px;
    position: absolute;
    left: -6px;
    top: 37px;
    z-index: 2;
    list-style: none;
    background-color: #ffffff;
    padding: 0;
    border-radius: 6px;
    box-shadow:0px 15px 20px 5px rgba(27, 27, 27, 0.27); 
}
.sub-menu a {
	display: block;
    text-decoration: none;
    padding: 10px 14px;
    color: #000000;
    margin: 0 6px;
}
.sub-menu li:hover {
    background-color: #fbded8;
}
.sub-menu li:first-child:hover {
    border-radius: 6px 6px 0 0;
}
.sub-menu li:last-child:hover {
	border-radius: 0 0 6px 6px;
}
.sub-menu .bold-link {
	font-weight: bold;
	border-bottom: 1px solid #d1d0ce;
}
.main-menu .catalog:hover .sub-menu {
	display: block;
}
.user-block {
	width: 261px;
	padding-left: 32px;
	float: right;
}

.user-cart .added {
	display: none;
}
.user-block-item {
	display: inline-block;
	vertical-align: top;
}
.user-block-item > a {
	display: block;
	min-height: 32px;
	padding: 10px 0;
	padding-left: 45px;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 32px;
	font-size: 14px;
	
	text-decoration: none;
}
.user-search > a {
	width: 32px;
    height: 32px;
    padding: 7px;
    background-image: url(img/search.svg);
    background-position: center center;
    background-repeat: no-repeat;   
}
.user-search-form {
	display: none;
}
.login-form {
	display: none;
}
.header-info {
	position: absolute;
	top: 100%;
	right: 0;
	text-align: right;
}
/*Слайдер*/
.slider {
	margin-bottom: 40px;
}
.slider-product-2,
.slider-product-3 {
	display: none;
}
.slider input[type="radio"] {
	display: none;
}
.slider-product-name {
	padding: 0 240px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}
.slider-btn {
	display: block;
	text-align: center;
}

/*Баннеры*/
.raspberries {
	float: left;
}
.chocolate {
	float: right;
}
.banners-item {
	width: 560px;
	min-height: 230px;
	padding: 20px;
}
/*Бестселлер*/
.product { /*общий класс для index, catalog .product*/
	display: inline-block;
	vertical-align: top;
	width: 267px;
	min-height: 325px;
	padding-right: 26px;
}
.bestsellers {
	margin-bottom: 38px;
}

.bestsellers .product:nth-child(4n) {
	padding-right: 0;
}
/*Преимущества*/
.advantage {
	padding: 27px 20px;
	color: #000000;
	margin-bottom: 40px;
}
.advantage-left {
	float: left;
}
.advantage-right {
	float: right;
}
.advantage-title {
	margin: 0;
	margin-bottom: 11px;
}
.advantage p {
	width: 539px;
	padding-left: 56px;
	padding-top: 17px;
	margin: 0;
	margin-bottom: 25px;

}
.advantage p:last-child {
	margin-bottom: 0;
}
/*Новости*/
.news {
	margin-bottom: 40px;
}
.blog-news {
	float: left;
	width: 560px;
	min-height: 220px;
	padding: 25px 20px;
}
.emailing-news {	
	float: right;
	width: 560px;
	min-height: 220px;
	padding: 35px 28px;
}
/*Карта*/
.location-map {
	width: 100%;
	height: 430px;
}
.address-block {
	float: right;
	width: 302px;
	min-height: 305px;
	margin-top: 65px;
}
/*Футер*/
.main-footer {
	min-height: 97px;
	margin-top: 6px;
}
.footer-social {
	float: left;
	width: 186px;
	margin-right: 213px;
}
.footer-social a {
	display: inline-block;
	vertical-align: top;
	width: 38px;
	height: 38px;
	background-color: #ffffff;
	border: 3px solid #c2cec7;
	border-radius: 38px;
}
.footer-links {
	float: left;
	width: 330px;
	
}
.footer-links-item {
	width: 165px;
}
.footer-info {
	float: left;
	padding-left: 22px;
}
.footer-doc {
	float: right;
}
.footer-corypting {
	float: right;
	width: 188px;
}
.popup {
	display: none;
}
/*Каталог*/
.breadcrumbs {
	display: inline-block;
	width: 560px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}
.catalog-form {
	margin-bottom: 40px;
}
.catalog-form fieldset {
	display: inline-block;
	vertical-align: top;
}
.catalog-form .sorting {
	width: 193px;
}
.catalog-form .price {
	width: 220px;
}
.catalog-form .fat {
	width: 418px;
}
.catalog-item .fillers {
	width: 702px;
}
.catalog-sorting-btn {

}
.paginator {
	float: right;
}
.inner-footer {
	margin-top: 40px;
}